:root {
    --blurple: #7289DA;
    --core-grey: #37393F;
    --embed-grey: #2F3136;
    --dark-grey: #2d2d31;
    --darker-grey: #212225;
    --greyple: #DCDDDE;
}

body {
    color: var(--greyple);
}