@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Roboto&display=swap');

:root {
    --header-font: "Poppins", sans-serif;
    --body-font: "Roboto", sans-serif;
    --link-font: "Poppins", sans-serif;
}

body {
    font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

a {
    font-family: var(--link-font);
}