* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: var(--core-grey);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
    width: 80%;
    margin: 0 auto;
}

a {
    color: var(--blurple);
    text-decoration: none;
}

a:hover {
    color: var(--greyple);
}